body {
	
}

figure {
	border: solid gray;
}

p {
	border: solid green;
}

ul, ol {
	border: solid yellow;
}

blockquote {
	border: solid purple;
}

#container {
	max-width: auto;
	max-height: auto;
	border: solid black;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	color: red;
}

header {
	text-align: center;
	border: solid blue;
}

a {
	text-decoration: none;
	color: red;
}

#intro {
	border: solid pink;
}

#nav {
	padding-left: 10px;
	float: left;
	border: solid red;
	text-align: left;
	width: 22%;
}

#main {
	padding: 10px;
	text-align: left;
	border: solid silver;
}

#footer {
	border: solid red;
}

#copyright {
	text-align: right;
	border: solid maroon;
}