hr {
	clear: both;
}

figure {
	border: solid gray;
	clear: both;
}

p {
	border: solid green;
}

ul, ol {
	border: solid yellow;
	text-align: left;
}

blockquote {
	border: solid purple;
}

#container {
	max-width: auto;
	max-height: auto;
	border: solid black;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	color: red;
}

header {
	text-align: center;
	border: solid blue;
}

a {
	text-decoration: none;
	color: red;
}

#intro {
	border: solid pink;
	float: right;
	width: auto;
}

#nav {
	padding-left: 10px;
	float: left;
	border: solid red;
	text-align: left;
	width: 22%;
}

#nav .selected {
	font-weight: bold;
}

#nav ul {
	list-style-type: none;
}

#main {
	padding: 10px;
	text-align: left;
	border: solid silver;
	float: right;
}

#footer {
	border: solid red;
}

#copyright {
	text-align: right;
	border: solid maroon;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}